<ion-header class="ion-no-border light-bg">
  <ion-toolbar class="light-bg">
    <ion-grid fixed>
      <ion-row>

            <ion-col size="12" class="header">

                <ion-button class="person" fill="clear" shape="round" routerLink="logIn">
                  <ion-icon name="person-circle" slot="icon-only"></ion-icon>
                </ion-button>

                <ion-button class="notif" fill="solid" shape="round">
                  <ion-icon name="notifications-outline" ></ion-icon>
                </ion-button>

            </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card1">
          <img alt="Silhouette of mountains" src="https://www.valenzuela.gov.ph/ckuploads/gallery/InaugALERT_DPO_20160506_178.jpg" />
          <ion-card-header>
            <ion-card-title>PLV Blood Drive 2022</ion-card-title>
            <ion-card-subtitle>November 11, 2022 at 08:00 AM</ion-card-subtitle>
            <ion-card-subtitle>Allied Local Emergency Response TeamsMacArthur Hwy, Valenzuela, Metro Manila
            </ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            As part of the celebration of birthday of Philippine Red Cross (PRC) Honorary Chairman, and Valenzuela City Mayor WES Gatchalian, PRC Valenzuela City Chapter in partnership with City Government of Valenzuela organized a Mass Blood Donation activity at the Valenzuela City Blood Bank
          </ion-card-content>

          <ion-card-content>
            For more further contact please call our ALERT Center Hotline at 8352-5000
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block">Register now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
